body {
  background-color: #fff;
  margin: 0px;
}

@media (min-width: 769px) and (max-width: 1920px) {
  .box {
    display: flex;
    flex-direction: column;
  }

  .container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .flex-blank {
    flex: 50% !important;
  }

  .top-blank {
    height: 100px;
    width: 100%;
  }

  .box-header {
    display: flex;
    align-items: center;
  }

  .title {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
    flex: 50%;
  }

  .title-left {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    margin-left: 322px;
    flex: 50%;
  }

  .img-left {
    flex: 1;
    width: 35vw !important;
    top: 50px;
    height: auto;
    content: url("../img/baseball-1.png");
  }

  .img-right {
    flex: 1;
    width: 49vw;
    right: 0;
    content: url("../img/basketball.png");
  }
  .img-container {
    position: absolute;
    top: 26.5% !important;
    left: 17% !important;
    transform: translate(-25%, -25%);
  }

  .img-bottom-container {
    position: absolute;
    top: 105.5% !important;
    left: 54% !important;
    transform: translate(-25%, -25%);
  }

  ul {
    flex: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li > .slide-item-imgwrap,
  li > .slide-bottom-item-imgwrap {
    display: flex;
    flex-direction: row;
  }

  .ol-top,
  .ol-bottom {
    visibility: hidden;
    display: none;
  }

  .flex-blank {
    flex: 50% !important;
  }

  .list-item-content {
    flex: 50%;
    top: 60px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding: 60px 247px 60px;
  }

  .list-item-content-left {
    flex: 50%;
    top: 60px;
    left: 1008px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    padding-top: 20px;
    text-align: left;
    padding: 60px 34px 60px 322px;
  }

  .content-text-white {
    color: #fff !important;
  }

  .box-sub-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .seq-sub-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seq-sub {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000;
  }
  .seq-sub-perple {
    color: #8f6be8;
  }
  .underline {
    height: 5px;
    background-color: #603ebe;
    width: 22px;
    border-radius: 4px;
    margin-top: 4px;
  }
  .underline-white {
    background-color: #fff;
  }

  .sub-title {
    color: #c2c2c2;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-left: 10px;
  }

  #slide-item_1,
  #slide-bottom-item_1 {
    background-color: #fff !important;
    display: block !important;
  }
  #slide-item_2,
  #slide-bottom-item_2 {
    background-color: #f5f4f9 !important;
    display: block !important;
  }
  #slide-item_3 {
    background-color: #5e3db3 !important;
    display: block !important;
  }
  #slide-bottom-item_3 {
    background-color: #090c35 !important;
    display: block !important;
  }

  @media only screen and (max-width: 1765px) {
    .img-bottom-container {
      position: absolute;
      top: 100%;
      left: 63%;
      transform: translate(-25%, -25%);
    }
  }
  @media only screen and (max-width: 1650px) {
    .list-item-content {
      flex: 50%;
      top: 60px;
      color: #000;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      padding: 60px 127px 60px;
    }
  }

  @media only screen and (max-width: 1454px) {
    .list-item-content {
      flex: 50%;
      top: 60px;
      color: #000;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      padding: 60px 29px 60px;
    }
  }

  @media (min-width: 769px) and (max-width: 1370px) {
    .flex-blank {
      flex: 30% !important;
    }

    .top-blank {
      height: 100px;
      width: 100%;
    }

    .container {
      overflow-y: hidden !important;
      overflow-x: hidden !important;
    }

    .title-left {
      color: #c2c2c2;
      font-family: Roboto;
      font-size: 90px;
      font-weight: 400;
      line-height: 105px;
      letter-spacing: 0px;
      margin-left: 60px;
      flex: 50%;
    }
    .img-left {
      flex: 1;
      width: 35vw !important;
      top: 50px;
      height: auto;
      content: url("../img/baseball-1.png");
    }

    .img-right {
      flex: 1;
      width: 39vw;
      position: absolute;
      right: 0;
      bottom: -1100px;
      content: url("../img/basketball-2-1.png");
    }

    .img-container {
      position: absolute;
      top: 25% !important;
      left: 3% !important;
      transform: translate(-25%, -25%);
    }

    .img-bottom-container {
      position: absolute;
      top: 27% !important;
      left: 100% !important;
      transform: translate(-25%, -25%);
    }

    .list-item-content {
      flex: 50%;
      color: #000;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      padding: 30px 87px 20px;
    }

    .list-item-content-left {
      flex: 50%;
      top: 60px;
      left: 1008px;
      color: #000;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      padding-top: 20px;
      text-align: left;
      padding: 30px 10px 30px 60px;
    }

    @media (max-width: 100px) {
      .img-left {
        flex: 1;
        width: 35vw !important;
        top: 50px;
        height: auto;
        content: url("../img/baseball-1.png");
      }
    }
  }
}

/* Tablets */
/* @media (max-width: 768px) { */
@media (min-width: 601px) and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column;
  }

  .container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .flex-blank {
    flex: 30% !important;
  }

  .top-blank {
    height: 50px;
    width: 100%;
  }

  .box-header {
    display: flex;
    align-items: center;
  }

  .title {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: left;
    flex: 65%;
  }

  .title-left {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    margin-left: 30px;
    flex: 50%;
  }
  .img-left {
    flex: 1;
    width: 65vw !important;
    top: 50px;
    height: auto;
    content: url("../img/baseball-2.png");
  }

  .img-right {
    flex: 1;
    width: 57vw;
    position: absolute;
    right: 0;
    bottom: -1100px;
    content: url("../img/basketball-2-1.png");
  }

  .img-container {
    position: absolute;
    top: 26% !important;
    left: -4% !important;
    transform: translate(-25%, -25%);
  }

  .img-bottom-container {
    position: absolute;
    top: 21.6% !important;
    left: 100% !important;
    transform: translate(-25%, -25%);
  }

  ul {
    flex: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  li > .slide-item-imgwrap,
  li > .slide-bottom-item-imgwrap {
    display: flex;
    flex-direction: row;
  }

  .ol-top,
  .ol-bottom {
    visibility: hidden;
    display: none;
  }

  .flex-blank {
    flex: 35% !important;
  }

  .list-item-content {
    flex: 65%;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    padding: 30px 30px 20px;
  }

  .list-item-content-left {
    flex: 50%;
    top: 60px;
    left: 1008px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    padding-top: 20px;
    text-align: left;
    padding: 30px 0px 30px 30px;
  }

  .content-text-white {
    color: #fff !important;
  }

  .box-sub-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .seq-sub-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seq-sub {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000;
  }
  .seq-sub-perple {
    color: #8f6be8;
  }
  .underline {
    height: 5px;
    background-color: #603ebe;
    width: 22px;
    border-radius: 4px;
    margin-top: 4px;
  }
  .underline-white {
    background-color: #fff;
  }

  .sub-title {
    color: #c2c2c2;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-left: 10px;
  }

  #slide-item_1,
  #slide-bottom-item_1 {
    background-color: #fff !important;
    display: block !important;
  }
  #slide-item_2,
  #slide-bottom-item_2 {
    background-color: #f5f4f9 !important;
    display: block !important;
  }
  #slide-item_3 {
    background-color: #5e3db3 !important;
    display: block !important;
  }
  #slide-bottom-item_3 {
    background-color: #090c35 !important;
    display: block !important;
  }

  @media only screen and (max-width: 755px) {
    .img-right {
      flex: 1;
      width: 55vw;
      position: absolute;
      right: 0;
      bottom: -1100px;
      content: url("../img/basketball-2-1.png");
    }

    .img-bottom-container {
      position: absolute;
      top: 20% !important;
      left: 138%;
      transform: translate(-25%, -25%);
    }
  }

  @media (min-width: 601px) and (max-width: 620px) {
    .img-right {
      flex: 1;
      width: 50vw;
      position: absolute;
      right: 0;
      bottom: -1100px;
      content: url("../img/basketball-2-1.png");
    }

    .img-bottom-container {
      position: absolute;
      top: 17%;
      left: 145%;
      transform: translate(-25%, -25%);
    }
  }
}

/* Mobile */
/* @media only screen and (max-width: 320px) { */
@media only screen and (max-width: 600px) {
  .box {
    display: flex;
    flex-direction: column;
  }

  .container {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .top-blank {
    height: 20px;
    width: 100%;
    background-color: #fff;
  }
  .box-content {
    display: flex;
    flex-direction: column;
  }
  .box-header {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
  }

  .title {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    text-align: start;
    flex: 50%;
    margin-left: 20px;
  }

  .title-left {
    color: #e7e7e7;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0px;
    margin-left: 0px;
    width: 100% !important;
    text-align: start !important;
    margin-left: 20px;
  }

  .img-box {
    flex: 1;
    height: auto;
    position: relative;
    text-align: center;
  }

  .img-left {
    width: 65vw;
    height: auto;
    z-index: 1;
    content: url("../img/baseball-3.png");
  }

  .img-right {
    width: 80vw;
    position: relative;
    content: url("../img/basketball-2.png");
  }

  .slider-container {
    margin-top: 0px !important;
  }
  .slider-bottom-container {
    margin-top: 0px !important;
  }

  .img-container {
    position: relative;
    top: 40% !important;
    left: 70% !important;
    transform: translate(-50%, 10%);
  }

  .img-bottom-container {
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-50%, 10%);
  }

  .flex-blank {
    flex: 50%;
    display: contents !important;
  }

  .list-item-content {
    flex: 50%;
    top: 60px;
    left: 1008px;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    padding-top: 20px;
    text-align: left;
    padding: 60px 20px;
    font-family: Roboto;
  }

  .list-item-content-left {
    flex: 50%;
    top: 60px;
    left: 1008px;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    padding-top: 20px;
    text-align: left;
    padding: 60px 20px;
    font-family: Roboto;
  }

  .content-text-white {
    color: #000 !important;
  }

  .list-players {
    margin: 0px;
  }
  .box-sub-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .seq-sub-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .seq-sub {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.5px;
    text-align: left;
  }
  .seq-sub-perple {
    color: #000;
  }
  .underline {
    height: 5px;
    background-color: #603ebe;
    width: 22px;
    border-radius: 4px;
    margin-top: 4px;
  }
  .underline-white {
    background-color: #603ebe;
  }

  .sub-title {
    color: #c2c2c2;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-left: 10px;
  }

  @media only screen and (max-width: 320px) {
    .slider-container {
      margin-top: -36px !important;
    }

    .slider-bottom-container {
      margin-top: -24px !important;
    }

    .img-right {
      width: 93vw;
      position: relative;
      content: url("../img/basketball-2.png");
    }

    .img-bottom-container {
      position: relative;
      top: 40%;
      left: 54%;
      transform: translate(-50%, 10%);
    }
  }

  /* SLIDER CONTAINER */
  .slider-container ul,
  .slider-bottom-container ul {
    list-style: none;
  }
  .slide-item,
  .slide-bottom-item {
    top: 0;
    width: 100%;
    display: none;
  }
  .slide-item-imgwrap,
  .slide-bottom-item-imgwrap {
    height: 270px;
    overflow: hidden;
  }
  .active,
  .actived {
    display: block;
  }

  ul {
    padding: 0px !important;
  }
  li {
    display: flex;
    flex-direction: row;
    background-color: #f5f4f9;
  }
  .ol-top,
  .ol-bottom {
    visibility: visible;
  }
  ol {
    text-align: center;
    list-style: none;
    width: 100%;
    top: 50px;
    bottom: 40px;
    margin-top: -60px;
    padding: 0px;
  }
  ol li {
    background: #d8d8d8;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 6px;
  }
  .slide-item-active,
  .slide-bottom-item-actived {
    background: #5c3caf;
  }
}